.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 37rem;
    height: 100%;
    max-height: 27rem;
    border-radius: 15px;
    padding: 1rem;
    background-color: #355454;
    box-shadow: 10px 10px 42px 0px rgba(0,0,0,0.72);
    gap: 1.5rem;
}
h1{
    padding: 4%;
    margin: 0;
    border-bottom: 1px solid white;
}

.infoPerguntas{
    width: 100%;
    position: relative;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    margin-bottom: 1rem;
}

.contagemPerguntas{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contagemPerguntas span{
    font-size: 2rem;
}

.pergunta{
    margin-bottom: 0.9px;
    font-size: 20px;
}

.resposta{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 1.5rem;
}

.grupoResposta{
    display: flex;
    flex: 1 1 200px;
    justify-content: center;
    align-items: center;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;


    background-color: #5f9ea0;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    
    cursor: pointer;
    border: 1px solid black;
    margin: 5px 12px 5px;
}

button:hover{
    background-color: #7DB1B2;
    
}
.pontuacao{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    color: rgb(175, 118, 231);
}
#ponto{
    padding: 3%;
    width: 100%;
}